<main>

  <div class="section bg-soft">
    <div class="container">
      <div class="row pt-5 pt-lg-3">
        <div class="col-12 col-lg-10">

          <form action="#" method="post" (ngSubmit)="onSave(property);" [formGroup]="form" class="card border-light p-4 p-lg-5">
            <div class="form-group ">
              <a [routerLink]="['/post-property-location']" class="text-secondary font-small"
              ><i class="fas fa-arrow-left fa-lg"></i> <span class="pl-3 fa-lg font-weight-bold">Back</span>
              </a>
            </div>
            <h3>Step 3: Rent/Lease Details</h3>
            <p class="lead ">Tell us about Rent/Lease details.</p>

            <div class="row">
              <div class="col-12 col-lg-7">
                <div class="form-group pt-4">
                  <label for="monthlyRent">Monthly Rent</label>
                  <div class="input-group">
                    <input class="form-control" ngbAutofocus id="monthlyRent" placeholder="Monthly Rent"
                           type="text"  formControlName="monthlyRent">
                  </div>
                  <div class="text-danger" *ngIf="displayMessage.monthlyRent">
                    {{displayMessage.monthlyRent}}
                  </div>

                </div>
                <div class="form-group">
                  <label for="securityAmount">Security Amount</label>
                  <div class="input-group">
                    <input class="form-control" ngbAutofocus id="securityAmount" placeholder="Security Amount"
                           type="text"  formControlName="securityAmount">
                  </div>
                  <div class="text-danger" *ngIf="displayMessage.securityAmount">
                    {{displayMessage.securityAmount}}
                  </div>
                </div>
                <div class="form-group">
                  <label for="maintenanceCharges">Monthly Maintenance Charges</label>
                  <div class="input-group">
                    <input class="form-control" ngbAutofocus id="maintenanceCharges" placeholder="Maintenance Charges if any"
                           type="text"  formControlName="maintenanceCharges">
                  </div>
                  <div class="text-danger" *ngIf="displayMessage.maintenanceCharges">
                    {{displayMessage.maintenanceCharges}}
                  </div>

                </div>



                <div class="form-group pt-4">
                  <button class="btn-lg btn-block btn-secondary mt-2 animate-up-2"
                          type="submit">Next
                  </button>
                </div>
              </div>
            </div>


          </form>


        </div>
      </div>
    </div>
  </div>
</main>
