<div class="tab-pane fade show active" id="nav-amenities" role="tabpanel" aria-labelledby="nav-amenities-tab">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card shadow-sm border-soft rounded-0 p-4">
        <h2 class="h5">Furnishing </h2>
        <ul class="list-unstyled mb-0">
          <li *ngFor="let furnishing of furnishings" class="d-flex py-1">
              <span [class]="furnishing.enable ? 'icon icon-sm text-success' : 'icon icon-sm text-secondary'">
                  <span [class]="furnishing.enable ? 'fas fa-check-circle mr-2' : 'fas fa-times-circle mr-2'"></span>
              </span>
            <span class="font-weight-bold">{{furnishing.name}}</span>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card shadow-sm border-soft rounded-0 p-4">
        <h2 class="h5">Amenities</h2>
        <ul class="list-unstyled mb-0">
          <li *ngFor="let amenity of amenities" class="d-flex py-1">
              <span [class]="amenity.enable ? 'icon icon-sm text-success' : 'icon icon-sm text-secondary'">
                  <span [class]="amenity.enable ? 'fas fa-check-circle mr-2' : 'fas fa-times-circle mr-2'"></span>
              </span>
            <span class="font-weight-bold">{{amenity.name}}</span>
          </li>

        </ul>
      </div>
    </div>






  </div>
</div>
