<div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">

  <h2 class="font-weight-normal ">{{property.societyName}} - {{property.noOfBedrooms}} BHK for Rent</h2>
  <div class="d-block d-md-flex pb-3">
    <span class="text-success font-weight-light"><span class="fas fa-check-circle mr-1 pr-1"></span>Verified</span>
    <span class="lh-120 ml-md-4"><i class="fas fa-map-marker-alt mr-1 pr-1"></i>Datta Mandir Road, Wakad, Pune - 411057</span>
  </div>
  <div class="row  pl-3">
    <div class="col-lg-11 col-12">
      <div class="fancy-gallery mb-5">
        <div class="row">
<!--          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>-->
        </div>
      </div>

    </div>
  </div>
  <p><span class="font-weight-bold">The house</span> is {{property.furnishingStatus}}, it has easy access to market, schools,
    hospitals, banks and ATMs. This home is ideal for {{property.preferredTenantType}}.
  </p>
</div>
