<header class="header-global">
  <ngx-headroom [upTolerance]="0" [downTolerance]="0" [duration]="500" easing="ease-in-out">
    <nav id="navbar-main"
         class="navbar navbar-main navbar-theme-primary navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-dark navbar-transparent navbar-theme-primary">
      <div class="container">
        <a class="navbar-brand @@logo_classes" [routerLink]="['/property-search']">
          <img class="navbar-brand-dark common" src="../assets/img/brand/light.svg" height="35" alt="Logo light">
          <img class="navbar-brand-light common" src="../assets/img/brand/dark.svg" height="35" alt="Logo dark">
        </a>
        <div class="navbar-collapse collapse" aria-labelledby="navbar_global">
          <!--<div class="dropdown-menu dropdown-menu-lg" aria-labelledby="supportDropdown">-->
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="../index.html">
                  <img src="../assets/img/brand/dark.svg" height="35" alt="Logo Impact">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse"
                   data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                   aria-label="Toggle navigation"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="d-sm-block @@cta_button_classes">
          <a
            [routerLink]="['/post-property-details']" class="btn btn-md btn-secondary animate-up-2 mr-2"><i
            class="fas fa-plus mr-2"></i> <span class="d-sm-none font-small">List Property</span><span
            class="d-none d-sm-inline">List a Property</span></a>
          <button (click)="openLoginModal();"
                  class="d-none d-sm-inline btn btn-md btn-outline-white animate-up-2"
                  *ngIf="!loginComponent.isUserLoggedIn">Login /
            Sign Up
          </button>

        </div>
<!--        TODO - uncomment-->
<!--        <ul class="navbar-nav navbar-nav-hover justify-content-center" *ngIf="loginComponent.isUserLoggedIn">-->
          <ul class="navbar-nav navbar-nav-hover justify-content-center" *ngIf="loginComponent.isUserLoggedIn">
          <li class="nav-item dropdown">
            <a [routerLink]="['/user-dashboard']" id="supportDropdown"
               class="btn btn-md btn-outline-white dropdown-toggle  d-none d-sm-block" aria-expanded="false"
               data-toggle="dropdown">
              <span class="nav-link-inner-text mr-1">User Dashboard</span>
              <i class="fas fa-angle-down nav-link-arrow fa-lg"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="supportDropdown">
              <div class="col-auto px-0">
                <div class="list-group list-group-flush">
                  <a [routerLink]="['/user-dashboard/my-account']"
                     class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                    <span class="icon icon-sm icon-secondary"><i class="fas fa-user"></i></span>
                    <div class="ml-4">
                      <span class="text-dark d-block">My Profile</span>
                      <span class="small ">Edit your profile</span>
                    </div>
                  </a>
                  <a [routerLink]="['/user-dashboard/my-properties']"
                     class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4 border-top">
                    <span class="icon icon-sm icon-primary"><i class="fas fa-list"></i></span>
                    <div class="ml-4">
                      <span class="text-dark d-block">My Listings</span>
                      <span class="small">See your properties</span>
                    </div>
                  </a>
                  <a (click)="loginComponent.signOut()"
                     class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4 border-top">
                    <span class="icon icon-sm icon-primary"><i class="fas fa-sign-out-alt"></i></span>
                    <div class="ml-4">
                      <span class="text-dark d-block">Log out</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="d-flex d-sm-none align-items-center">
          <a [routerLink]="['/user-dashboard/my-account']"> <i class="fa fa-user fa-2x" style="color: darkgray"
                                                               aria-hidden="true"></i></a>

          <!--<div class="text-center">

          </div>-->
        </div>
      </div>
    </nav>
  </ngx-headroom>
</header>
<router-outlet></router-outlet>


<footer class="footer bg-primary text-white pt-2 ">
  <div class="container">

    <!--<hr class="my-3 my-lg-5">-->
    <div class="row">
      <div class="col mb-md-0">

        <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
          <p class="font-weight-normal font-small mt-2">© Pavasa
            <span class="current-year">2021</span>. All rights reserved. &nbsp;&nbsp;
            <a target="_blank" href="/">Privacy policy</a>
            <span> | </span>
            <a target="_blank" href="/">Sitemap</a>
            <span> | </span>
            <a target="_blank" href="/">Contact us</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</footer>

<app-login #loginComponent></app-login>


