<main>

  <div class="section bg-soft">
    <div class="container">
      <div class="row pt-5 pt-lg-3">
        <div class="col-12 col-lg-10">

          <form action="#" method="post" class="card text-gray border-light p-4 mb-4">
            <div class="form-group ">
              <a [routerLink]="['/post-property-more-details']" class="text-secondary font-small"
              ><i class="fas fa-arrow-left fa-lg"></i> <span class="pl-3 fa-lg font-weight-bold">Back</span>
              </a>
            </div>
            <h3>Step 5: Upload Property photos</h3>
            <p class="lead ">Upload your property photos.</p>

            <youtube-player videoId="QIZ9aZD6vs0"> </youtube-player>

            <div class="row">
              <div class="col-12 col-lg-8">
                <div class="form-group">
                  <div class="d-flex justify-content-between align-items-center mt-2">
                    <div class="custom-file">
<!--                      <input id="gallery" type="file" class="custom-file-input" multiple>-->
                      <input type="file" id="gallery" accept="image/*" (change)="upload($event)" />

                      <label class="custom-file-label" for="gallery">Choose property photo</label>
                      <div class="col-4">
<!--                        <button-->
<!--                          class="btn btn-success btn-sm float-right"-->
<!--                          [disabled]="!selectedFiles"-->
<!--                          (click)="upload()"-->
<!--                        >-->
<!--                          Upload-->
<!--                        </button>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <small class="text-gray font-weight-light font-xs d-block mt-2">Images should be at least 500 pixels wide
              and only *.jpg, *.png and *.jpeg formats are accepted.</small>
            <div class="d-flex flex-wrap mt-4">
              <div class="profile-image-small fmxw-100 mr-3 mb-3" *ngFor="let imageUrl of imageUrls">
                <img class="rounded" [src]="imageUrl" alt="Office Conference" [height]="100" [width]="100">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-8 pt-5 pb-8">

                <div class="form-group pt-4">
                  <button [routerLink]="['/post-property-pricing-plan']"
                          class="btn-lg btn-block btn-secondary mt-2 animate-up-2"
                          type="submit">Post property
                  </button>
                </div>
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</main>
