<main>

  <div class="section bg-soft">
    <div class="container">
      <div class="row pt-5 pt-lg-3">
        <div class="col-12 col-lg-10">

          <form action="#" method="post" (ngSubmit)="onSave(property);" [formGroup]="form"
                class="card border-light p-4 p-lg-5 mb-4">
            <p class="font-weight-bold text-danger" *ngIf="errorMsg"><i class="fas fa-exclamation-circle fa-lg"
                                                                        style="color: #be2837"></i><span
              class="pl-2">{{errorMsg}}</span>
            </p>
            <div class="form-group ">
              <a [routerLink]="['/post-property-rent']" class="text-secondary font-small"
              ><i class="fas fa-arrow-left fa-lg"></i> <span class="pl-3 fa-lg font-weight-bold">Back</span>
              </a>
            </div>
            <h3>Step 4: More Property Details</h3>
            <p class="lead ">Tell us more about your property.</p>

            <div class="row">
              <div class="col-12 col-lg-7">
                <div class="form-group pt-4">
                  <label for="carpetArea">Carpet Area (Sq-Ft)</label>
                  <div class="input-group mb-4">
                    <input class="form-control" id="carpetArea" placeholder="Carpet Area in sq. ft"
                           type="text" formControlName="carpetArea">
                  </div>
                  <div class="text-danger" *ngIf="displayMessage.carpetArea">
                    {{displayMessage.carpetArea}}
                  </div>
                </div>
                <div class="form-group">
                  <label for="availableFrom">Available From</label>

                  <!--<input class="form-control" placeholder="yyyy-mm-dd" id="availableFrom"
                         name="availableFrom" [(ngModel)]="dateModel" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">  sdfsdf</button>
                  </div>-->
                  <div class="input-group mb-lg-0">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                    </div>
                    <input class="form-control datepicker" id="availableFrom" [(ngModel)]="dateModel"
                           [ngModelOptions]="{standalone: true}" ngbDatepicker
                           #d="ngbDatepicker" (click)="d.toggle()" placeholder="DD/MM/YYYY" type="text"
                           data-position="top">
                  </div>

                </div>
                <div class="form-group">
                  <div class="label">Preferred Tenant Type</div>
                  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"
                       formControlName="preferredTenantType">
                    <label ngbButtonLabel
                           class="btn-soft border-gray-500 border-top-left-radius-0 border-top-right-radius-0 border-bottom-left-radius-0 border-bottom-right-radius-0 mr-2"
                           *ngFor="let tenantType of CONSTANTS.tenantTypes">
                      <input ngbButton type="radio" [value]="tenantType"> {{tenantType}}
                    </label>
                  </div>
                  <div class="text-danger" *ngIf="displayMessage.preferredTenantType">
                    {{displayMessage.preferredTenantType}}
                  </div>
                </div>

                <div class="form-group">
                  <div class="label">Furnishing Status</div>
                  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"
                       formControlName="furnishingStatus">
                    <label ngbButtonLabel
                           class="btn-soft border-gray-500 border-top-left-radius-0 border-top-right-radius-0 border-bottom-left-radius-0 border-bottom-right-radius-0 mr-2"
                           *ngFor="let furnishingStatus of CONSTANTS.furnishingStatuses">
                      <input ngbButton type="radio" [value]="furnishingStatus"> {{furnishingStatus}}
                    </label>
                  </div>
                  <div class="text-danger" *ngIf="displayMessage.furnishingStatus">
                    {{displayMessage.furnishingStatus}}
                  </div>
                </div>


                <div class="form-group">
                  <div class="label">Furnishing Details</div>
                  <ul id="furnishings" class=" list-group list-group list-group-flush  border-0">
                    <li class="list-group-item border-0 py-1 px-0 d-flex align-items-center justify-content-between"
                        *ngFor="let furnishing of CONSTANTS.furnishings">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                               [value]="furnishing" [id]="furnishing"
                               (change)="onCheckboxChange('furnishingDetails',$event)">
                        <label class="form-check-label" [htmlFor]="furnishing">
                          {{furnishing}}
                        </label>
                      </div>
                    </li>
                  </ul>
                  <div class="text-danger" *ngIf="displayMessage.furnishingDetails">
                    {{displayMessage.furnishingDetails}}
                  </div>
                </div>

                <div class="form-group">
                  <div class="label">Amenities</div>
                  <ul id="amenities" class=" list-group list-group list-group-flush  border-0">
                    <li class="list-group-item border-0 py-1 px-0 d-flex align-items-center justify-content-between"
                        *ngFor="let amenity of CONSTANTS.amenities">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" [value]="amenity" [id]="amenity"
                               (change)="onCheckboxChange('amenities',$event)">
                        <label class="form-check-label" [htmlFor]="amenity">
                          {{amenity}}
                        </label>
                      </div>
                    </li>

                  </ul>
                  <div class="text-danger" *ngIf="displayMessage.amenities">
                    {{displayMessage.amenities}}
                  </div>
                </div>


                <div class="form-group pt-4">
                  <button class="btn-lg btn-block btn-secondary mt-2 animate-up-2"
                          type="submit">Next
                  </button>
                </div>
              </div>
            </div>


          </form>


        </div>
      </div>
    </div>
  </div>
</main>
