<main>

  <div class="section section-lg bg-soft">
    <div class="container">
      <div class="row pt-5 pt-md-0">

        <div class="col-12 col-md-3 d-none d-lg-block">
          <!-- Navigation -->
          <div class="card border-light p-2">
            <div class="card-body p-2">
              <div class="text-center">
                <i class="fa fa-user fa-5x" style="color: darkgray" aria-hidden="true"></i>
              </div>
              <h2 class="h5 font-weight-normal text-center mb-0 pt-3">Rakesh profile</h2>
              <div class="list-group dashboard-menu list-group-sm mt-4">
                <a class="d-flex list-group-item list-group-item-action" [routerLink]="['my-properties']"
                   [routerLinkActive]="['active']">My Properties<span class="icon icon-xs ml-auto"><span
                  class="fas fa-chevron-right"></span></span> </a>
                <a class="d-flex list-group-item list-group-item-action" [routerLink]="['my-account']"
                   [routerLinkActive]="['active']">My Account<span class="icon icon-xs ml-auto"><span
                  class="fas fa-chevron-right"></span></span> </a>
                <a class="d-flex list-group-item list-group-item-action">My Preference<span
                  class="icon icon-xs ml-auto"><span class="fas fa-chevron-right"></span></span> </a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-12 d-lg-none">
          <div class="card bg-white border-light mb-4 mb-lg-5">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-10 d-flex">
                  <a href="./account.html" class="list-group-item list-group-item-action border-0 ">Properties</a>
                  <a href="./settings.html" class="list-group-item list-group-item-action border-0  active ">Account</a>
                  <a href="./my-items.html" class="list-group-item list-group-item-action d-none d-sm-block border-0 ">Preference</a>
                </div>
                <div class="col-2 d-flex justify-content-center">
                  <div class="btn-group dropleft">
                    <button class="btn btn-link dropdown-toggle dropdown-toggle-split mr-2 m-0 p-0"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-sm">
                                <span class="fas fa-ellipsis-h icon-secondary fa-lg"></span>
                            </span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <a href="./my-items.html" class="list-group-item list-group-item-action d-sm-none border-0 ">Preference</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <router-outlet></router-outlet>
        </div>

      </div>
    </div>
  </div>
</main>
