<main>

  <div class="section bg-soft">
    <div class="container">
      <div class="row pt-5 pt-lg-3">
        <div class="col-12 col-lg-10">

          <form action="#" method="post" class="card border-light p-4 p-lg-5">

            <h3 class="text-success">Thank you</h3>
            <p class="lead">Thank you for publishing property with us.</p>
            <p class="font-weight-bold ">We will verify and publish your property in next 24hrs.</p>
            <p class="font-weight-bold">No further action is required.</p>

            <div class="row">
              <div class="col-12 col-lg-7">
                <!--<div class="form-group pt-4">
                  <button class="btn-lg btn-block btn-gray mt-2 animate-up-2"
                          type="submit" [routerLink]="['/user-dashboard']"><i class="fa fa-user" style="color: white"
                                                                              aria-hidden="true"></i><span class="pl-2">Go to your dashboard</span>
                  </button>
                </div>-->
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</main>
