<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-6 col-lg-12">
    <a [routerLink]="['/post-property-details']" class="btn btn-outline-secondary btn-block mb-4 py-4">
      <span class="mr-2"><span class="fas fa-plus"></span></span>Submit New Property
    </a>
    <div class="card border-light mb-10">
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-6 col-xl-4">
          <a href="../single-space.html">
            <img src="../../assets/img/meeting-office.jpg" alt="private office"
                 class="card-img p-2 rounded-xl">
          </a>
        </div>
        <div class="col-12 col-lg-6 col-xl-8">
          <div class="card-body py-lg-0">
            <div class="d-flex no-gutters align-items-center mb-3">
              <div class="col text-left">
                <a href="../single-space.html">
                  <h2 class="h5">2 BHK Apartment for rent in Wakad</h2>
                </a>
                <span class="fas fa-map-marker-alt mr-2" style="color: red"></span>Nisarg Gandh, Wakad, Pune
              </div>

            </div>
            <div class="col d-flex pl-0">
                                                <span class="text-success font-weight-normal mr-3"><span
                                                  class="fas fa-check-circle mr-2"></span>Active</span>
              <ul class="list-group mb-0">
                <li class="list-group-item small p-0"><span
                  class="fas fa-calendar-times text-tertiary text-dark mr-2"></span>Active
                  until: 12 June
                </li>
              </ul>


            </div>
            <div class="d-flex pl-0 pr-0 pt-2 col-xl-6">
              <button class="btn btn-sm btn-block btn-secondary animate-up-2">Edit Property</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
